body{
	margin: 0;
}
.site-layout-content {
	min-height: 280px;
	padding: 24px;
}
.app-content{
	margin-top: 30px;
}

.logo {
	float: left;
	width: 120px;
	height: 31px;
	margin: 16px 24px 16px 0;
	background-image: url(../public/images/upcourses-low-resolution-logo-color-on-transparent-background.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ant-row-rtl .logo {
	float: right;
	margin: 16px 0 16px 24px;
}
