:root {
	--color-orange: #F7C701;
	--color-grey: rgba(245, 245, 245)
}

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;

}

.site-layout-content {
	min-height: 280px;
	padding: 24px;
	margin: 30px;
}

/* header and logo design */
.ant-layout-header {
	background: var(--color-orange);
}

.logo {
	float: left;
	width: 200px;
	height: 40px;
	margin: 16px 24px 16px 0;
	background-image: url(../public/images/upcourses-low-resolution-logo-white-on-transparent-background.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ant-row-rtl .logo {
	float: right;
	margin: 16px 0 16px 24px;
}

.app-content {
	margin: 30px;
}

.content-title {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	font-size: 36px;
}

.button-load-more {
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: auto;
	padding: 16px 50px;
	color: #000;
	font-size: 16px;
	background: transparent;
	box-shadow: 0px 0px 0px 1px black inset;
	transition: background 0.4s ease;
	border: 1px solid black;
	cursor: pointer;
	margin: 30px auto;
}

.button-load-more:hover {
	background: var(--purple);
}

.footer {
	background-color: var(--color-orange);
	margin-top: 20px;
}

/* hero design */
.content {
	max-width: 600px;
	margin: 0 auto;
	padding: 0 20px;
}

.hero {
	position: relative;
	background: #333333;
	color: white;
	height: 100vh;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.hero h2 {
	position: relative;
	z-index: 1;
	font-size: 4.5rem;
	margin: 0 0 10px;
	line-height: 1;
	color: black;
	opacity: 0.8;
}

.hero p {
	position: relative;
	z-index: 1;
	font-size: 1.1rem;
	color: black;
	opacity: 0.6;
	line-height: 1.4;
}

.waves {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 500px;
	background-color: var(--color-grey);
	/* box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5); */
	transition: 500ms;
}

.waves::before,
.waves::after {
	content: '';
	position: absolute;
	width: 300vw;
	height: 300vw;
	top: -65vw;
	left: 50%;
	transform: translate(-50%, -75%);
}

.waves::before {
	border-radius: 44%;
	background: var(--color-orange);
	opacity: 1;
	animation: waves 8s linear infinite;
}

.waves::after {
	border-radius: 44%;
	background: var(--color-orange);
	opacity: 0.5;
	animation: waves 15s linear infinite;
}

@keyframes waves {
	0% {
		transform: translate(-50%, -75%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -75%) rotate(360deg);
	}
}

